.todo {
  width: 250px;

  .btn__wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  span {
    display: block;
    word-break: break-all;
  }
}